.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"].submit {
  border: none;
  height: 40px;
  width: 40px;
  background: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form button.ativo:hover .noEdit {
  color: #000;
}

.form button.ativo .noEdit {
  color: #f04c64;
  display: flex;
  cursor: pointer;
}

.form button.desativado {
  display: none;
}

.form button.ativo {
  border: none;
  display: flex;
}
