<!DOCTYPE html>
<%- include('includes/head') %>
<body>
    <form action="/" method="post">
        <input type="text" name="nome">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button>Enviar formulário</button>
    </form>

    <script src="./assets/js/bundle.js"></script>
</body>
</html>