<% if(errors.length)
{ errors.forEach(erro =>
    {%>
        <div class="row">
            <div class="col">
                <div class="alert alert-danger"><%= erro %></div>
            </div>
        </div>
    <% })
} %>

<% if(success.length)
{ success.forEach(erro =>
    {%>
        <div class="row">
            <div class="col">
                <div class="alert alert-success"><%= success %></div>
            </div>
        </div>
    <% })
} %>