@charset 'UTF-8';

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #005663;
}

section
{
    background-color: white;
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

section > div
{
    margin-top: 20px;
    font-weight: bold;
    color: #005663;
    font-size: 2em;
    letter-spacing: 3px;
}