@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    margin-top: 30px;
}
section {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    min-height: 200px;
    margin: auto;
    border: 1px solid rgb(41, 41, 41, 0.41);
}
section > div {
    background-color: tomato;
    margin: 5px;
    flex: 1;
}

section.stretch {
    align-content: stretch;
}
section.flex-start {
    align-content: flex-start;
}
section.flex-end {
    align-content: flex-end;
}
section.center {
    align-content: center;
}
section.space-between {
    align-content: space-between;
}
section.space-around {
    align-content: space-around;
}