@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

/* Geral */

:root {
    --cor0: #8844ee;
    --cor1: #b07dfb;

    --gradient: linear-gradient(135deg, var(--cor0), var(--cor1));

    --font-padrao: 'Vollkorn', Georgia, serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-padrao);
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* Grid Geral */

.grid {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
    "header header header"
    "sidenav content anuncio"
    "footer footer footer";
}

/* Header */

.header {
    grid-area: header;

    background: var(--gradient);
    padding: 2.2em;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header .logo {
    max-width: 200px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
}

.header ul a {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    transition: 0.1s;
}

.header ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.header li + li {
    margin-left: 30px;
}

/* sidenav */

.sidenav {
    grid-area: sidenav;

    margin: 0 auto;
    padding: 30px;
    background: #fafbfc;
}

.sidenav img {
    width: 100%;
}

.sidenav a {
    display: block;
    border-radius: 5px;
    min-width: 60px;
    max-width: 100px;
    padding: 20px;
    box-shadow: 5px 5px 15px 5px rgba(44, 44, 44, 0.1);
}

.sidenav li + li {
    margin-top: 30px;
}

.sidenav a:hover {
    background-color: var(--cor1);
}

/* content */

.content {
    grid-area: content;

    padding: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.header-main-title h1 {
    font-size: 3.8em;
    color: var(--cor1);
    line-height: 1em;
}

.header-main-title p {
    font-size: 0.875em;
    font-style: italic;
    color: var(--cor1);
}

.header-main-info {
    color: var(--cor1);
}

.header-main-info div {
    display: inline-block;
    background: var(--gradient);
    text-align: center;
    font-size: 3em;
    padding: 0px 16px 0 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.2);
}

.span-top {
    display: block;
    width: 48px;
    margin-bottom: 3px;
}

.span-bottom {
    display: block;
    background: white;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    padding: 5px 16px 5px 16px;
    border-radius: 0 0 5px 5px;
    margin: 0 -16px 0 -16px;
}

.header-main-info div + div {
    margin-left: 30px;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: rgba(10, 2, 2, 0.7);
}

.p-1 {
    grid-column: 1 / -1;
}

.p-2 {
    width: 220px;
    font-size: 0.875em;
    color: var(--cor1);
}

.imagem-1 {
    grid-column: 1;
    grid-row: span 2;
}

.imagem-1, .imagem-2 {
    align-self: end;
}

.citacao {
    grid-column: 1 / -1;

    background: var(--gradient);
    padding: 30px 60px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-style: italic;
}

main ul {
    grid-row: span 2;
    align-self: start;

    background: var(--gradient);
    padding: 30px;
    border-radius: 5px;
}

main ul li {
    padding: 15px;
    color: white;
    font-size: 1.125em;
    font-family: Courier, monospace;
}

main ul li + li {
    border-top: 2px solid var(--cor1);
}

.imagem-3 {
    grid-column: 1 / -1;
}

.imagem-3 img {
    width: 100%;
}

/* anuncio */

.anuncio {
    grid-area: anuncio;

    padding: 0 30px;
}

.anuncio div {
    margin-top: 30px;
}

/* footer */

.footer {
    grid-area: footer;

    padding: 30px 0;
    background: var(--gradient);
    text-align: center;
}

.footer p {
    color: white;
}